<form method="GET" action="/books">
  <input type="submit" value="Home">
</form><br></br>

<h3>Current Authors</h3>

<%@authors.uniq.each_with_index do |author, index|%>
  <%=index + 1%>. <a href="/authors/<%=author.id%>"><%=author.name%></a><br>
<%end%>
