<form method="GET" action="/signup">
  <input type="submit" value="Signup">
</form>
<br></br>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>
<br></br>

<h3> Log-in </h3><br></br>

<form action="/login" method="post">
  <label for="email">Email: </label>
  <input type="text" name="email" id="email">
  <label for="password">Password: </label>
  <input type="password" name="password" id="password"><br></br>
  <input type="submit" id="submit">
</form>
