
<h3> Sign up for an account </h3><br></br>

<% if @user && @user.errors%>
  <%binding.pry%>
  <%@user.errors.full_messages.each do |error|%>
    <h4>Error! <%=error%>! </h4><br></br>
  <%end%>
<%end%>

<form action="/signup" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name"><br></br>
  <label for="email">Email: </label>
  <input type="text" name="email" id="email"><br></br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password"><br></br>
  <input type="submit" id="submit">
</form>
