<h3>Create a Book</h3>
<form action="/books" method="post">
  <label>Title: </label>
  <input type="text" name="title" id="title">
  <label>Summary:</label>
  <input type="text" name="summary" id="summary">
  <br></br>
  <p>Add Author</p>
  <%@user.authors.each do |author|%>
    <input type= "checkbox" name="author" id="<%=author.name%>" value="<%=author.id%>">Author.name
  <%end%>
  <p>or create new Author</p>

  <input type="submit" id="submit" value="Create Book">
</form>
