<h3>Create a Book</h3>
<form action="/books" method="post">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title" value="title">
  <label for="summary">Summary:</label>
  <input type="text" name="summary" id="summary" value="summary">
  <br></br>

  <p>Add Author</p>
  <%@user.authors.each do |author|%>
    <input type= "checkbox" name="author[name]" id="<%=author.id%>" value="<%=author.id%>"><%=author.name%>
  <%end%>
  
  <p>or create new Author</p>
  <label for="author[name]">Name: </label>
  <input type="text" name="author[name]" id="author_name"></input><br>

  <input type="submit" id="submit" value="Create Book">
</form>
