<div class="colorsub">
  <form method="GET" action="/books">
    <input type="submit" value="Home">
  </form><br></br>
</div>

<h3>Create a Book</h3>
<form action="/books" method="post">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title">
  <label for="summary">Summary:</label>
  <input type="text" name="summary" id="summary">
  <br></br>

  <p>Add Author or create new Author:</p>
  <label for="author[name]">New author name: </label>
  <input type="text" name="author[name]" id="author_name"></input><br>

  <label for="author[name]">Choose existing author:</label>
  <%@user.authors.uniq.each do |author|%>
    <input type= "radio" name="author[name]" id="<%=author.id%>" value="<%=author.name%>"><%=author.name%>
  <%end%>
  <br></br>
  <input type="submit" id="submit" value="Create Book">
</form>
